# Создайте файл config.py из копии этого файла и замените значения переменных реальными данными

import os
from dotenv import load_dotenv

# Пример загрузки.env файла
load_dotenv()

# Пример настройки переменных
API_KEY = os.getenv("your_api_key")